[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=DooM Plugin
Comment=DooM in your panel
Icon=doom-plugin
X-XFCE-Module=doom-plugin
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
