[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=DooM
Comment=DooM in your panel
Icon=input-gaming
X-XFCE-Module=doom-plugin
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
